@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    
}
<!-- REVOLUTION BANNER CSS SETTINGS -->



   

<div class="fullwidthbanner-container">
    <div id="revolution-slider">
        <ul>
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="~/images-slider/thumbs/thumb1.jpg">
                <!--  BACKGROUND IMAGE -->
                <img src="~/images-slider/wide9etg.png" alt="Book Flights with airline miles" />

                <div class="tp-caption very-big-black sfb "
                     data-x="5"
                     data-y="45"
                     data-speed="500"
                     data-start="0"
                     data-easing="easeOutExpo">
                    <img src="~/images-slider/etgis.png" alt="Book Flights With Airline Miles and Credit Card points" />
                </div>
                <div class="tp-caption sfr"
                     data-x="20"
                     data-y="85"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutBack">
                    <img src="~/images-slider/saveon.png" alt="Use miles and save on airfare" />
                </div>

                <div class="tp-caption sfr"
                     data-x="330"
                     data-y="125"
                     data-speed="300"
                     data-start="1200"
                     data-easing="easeOutBack">
                    <a href="Quote.aspx">
                        <img src="~/images-slider/click.png" alt="Get a Free Business Class flight quote" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="-25"
                     data-y="250"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutBack">
                    <a href="useairlinemiles.aspx" title="using airline miles">
                        <img src="~/images-slider/etgmc.png" alt="use airline miles on travel" id="luxury" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="315"
                     data-y="250"
                     data-speed="300"
                     data-start="1600"
                     data-easing="easeOutBack">
                    <a href="businessfirst.aspx" title="use airline miles on flights">
                        <img src="~/images-slider/etgbf.png" alt="using credit card points on travel" id="Img1" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="655"
                     data-y="250"
                     data-speed="300"
                     data-start="1800"
                     data-easing="easeOutBack">
                    <a href="#">
                        <img src="~/images-slider/Osvaldo.png" alt="Elite Travel Guru did an outstanding job" id="Img2" />
                    </a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="~/images-slider/thumbs/thumb1.jpg">
                <!--  BACKGROUND IMAGE -->
                <img src="~/images-slider/wide1etg.jpg" alt="Booking flights with Credit Card Points" />

                <!-- THE CAPTIONS IN THIS SLIDE -->
                <div class="tp-caption sfr"
                     data-x="-5"
                     data-y="35"
                     data-speed="300"
                     data-start="300"
                     data-easing="easeOutBack">
                    <img src="~/images-slider/letus.png" alt="help use airline miles and save" />
                </div>

                <div class="tp-caption sfr"
                     data-x="330"
                     data-y="175"
                     data-speed="300"
                     data-start="800"
                     data-easing="easeOutExpo">
                    <a href="Services.aspx">
                        <img src="~/images-slider/clickfind.png" alt="submit a request for a free consultation" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="0"
                     data-y="300"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutBack">
                    <a href="passport.aspx" title="Need a Passport?">
                        <img src="~/images-slider/passports.png" alt="Need a Passport?" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="315"
                     data-y="300"
                     data-speed="300"
                     data-start="1200"
                     data-easing="easeOutBack">
                    <a href="passport.aspx" title="Need a Visa?">
                        <img src="~/images-slider/visas.png" alt="Need a Visa?" />
                    </a>
                </div>

                <div class="tp-caption sfl"
                     data-x="630"
                     data-y="300"
                     data-speed="300"
                     data-start="1400"
                     data-easing="easeOutBack">
                    <a href="cellular.aspx" title="Rent a cellular phone for your travel">
                        <img src="~/images-slider/cellphones.png" alt="Rent a cellular phone for your travel" id="Img3" />
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
    
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
</div>